{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-4 mt-4" >Job Application Form</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First name:</label>
            <input class="form-control" type="text" id="first_name" name="first_name" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last name:</label>
            <input class="form-control" type="text" id="last_name" name="last_name" required>
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input class="form-control" type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="start_date">Ready to join by:</label>
            <input class="form-control" type="date" id="start_date" name="start_date" required>
        </div>

        <div class="form-group mt-4 mb-4">
            <label>Current employment status:</label>
            <br>
            <div class="form-check" id="occupation">

                <input class="form-check-input" type="radio" id="employed" name="employment_status" value="Employed" required>
                <label class="form-check-label" for="employed">Employed</label><br>

                <input class="form-check-input" type="radio" id="unemployed" name="employment_status" value="Unemployed" required>
                <label class="form-check-label" for="unemployed">Unemployed</label><br>

                <input class="form-check-input" type="radio" id="self_employed" name="employment_status" value="Self_employed" required>
                <label class="form-check-label" for="self_employed">Self-employed</label><br>

                <input class="form-check-input" type="radio" id="student" name="employment_status" value="Student" required>
                <label class="form-check-label" for="student">Student</label><br>

            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
    </form>

    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show">
        {% for message in messages %}
            {{message}}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

{% endblock %}
